<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="FileSystemWatchAndProcessValidFileLater" value="False" />
    <!--implemented this to fix issue where Sonarr was holding onto file, needs AccessDatabaseEngine.exe to run-->
    <add key="FileSystemWatchAndProcessValidFileTimer" value="600000" />
    <!--600000 is every 10 minutes-->
    <add key="FileSystemWatchAndProcessValidFileProcessAttempts" value="3" />
    <add key="UseTelegram" value="False" />
    <add key="TelegramAccessToken" value="" />
    <!--get this after you create your bot by @BotFather-->
    <add key="SendTelegramErrorMessages" value="False" />
    <add key="SendTelegramInformationMessages" value="False" />
    <add key="TelegramUserChatId" value="0" />
    <!--gets and sets when you send the /start command after the service is started-->
    <add key="FileSystemWatcherServiceOnChanged" value="False" />
    <!--watch for newly changed file or directory-->
    <add key="FileSystemWatcherServiceOnCreated" value="True" />
    <!--watch for newly created file or directory-->
    <add key="FileSystemWatcherServiceOnDeleted" value="False" />
    <!--watch for newly deleted file or directory-->
    <add key="FileSystemWatcherServiceOnRenamed" value="False" />
    <!--watch for newly renamed file or directory-->
    <add key="DownloadFolder" value="C:\temp\Download;C:\temp\Download2;" />
    <!--semi-colon separated-->
    <!--creates this folder if it does not exist-->
    <!--needs to be uTorrent download folder if SendTorrentToUTorrentViaWebApi is true and CopyFileToUploadFolder is false-->
    <add key="UploadFolder" value="C:\temp\Upload" />
    <!--creates this folder if it does not exist-->
    <!--only needed if CopyFileToUploadFolder is true-->
    <!--needs to be uTorrent download folder if SendTorrentToUTorrentViaWebApi is true and CopyFileToUploadFolder is true-->
    <add key="AnnounceList" value="AnnounceList1;AnnounceList2;" />
    <!--semi-colon separated-->
    <add key="Comment" value="" />
    <add key="CreatedBy" value="" />
    <add key="Publisher" value="" />
    <add key="PublisherUrl" value="" />
    <add key="PieceSize" value="0" />
    <add key="Private" value="True" />
    <add key="StoreMD5" value="False" />
    <add key="IgnoreHidden" value="True" />
    <add key="SkipFiles" value=".nfo;.torrent;.tmp;.jpg;.jpeg;" />
    <!--semi-colon separated-->
    <add key="WatchSubDirectories" value="False" />
    <add key="CopyFileToUploadFolder" value="False" />
    <add key="CreateTorrentsForFolders" value="False" />
    <add key="WaitForFileToBeIdle" value="True" />
    <!--wait for the file being copied to not be locked-->
    <add key="MaximumAttemptsAllowedWhenFileLocked" value="100" />
    <add key="ThreadSleepTimeInMillisecondsWhenLocked" value="1000" />
    <add key="UploadTorrent" value="False" />
    <add key="TorrentSiteUrl" value="http://torrents.ctwug.za.net/" />
    <add key="TorrentSiteUsername" value="" />
    <add key="TorrentSitePassword" value="" />
    <add key="TorrentSiteAccountLoginUrl" value="account-login.php" />
    <add key="TorrentSiteUploadPageUrl" value="torrents-upload.php" />
    <add key="UploadTorrentDescription" value="Uploaded via Torrent Create and Uploader." />
    <add key="SendTorrentToUTorrentViaWebApi" value="False" />
    <add key="uTorrentIP" value="localhost" />
    <add key="uTorrentPort" value="9191" />
    <add key="uTorrentUsername" value="admin" />
    <add key="uTorrentPassword" value="password" />
    <add key="uTorrentDownloadFolderSubFolderUse" value="False" />
    <!--if true DownloadFolder will need to be a sub folder of uTorrent download folder if SendTorrentToUTorrentViaWebApi is true and CopyFileToUploadFolder is false-->
    <!--if true UploadFolder will need to be a sub folder of uTorrent download folder if SendTorrentToUTorrentViaWebApi is true and CopyFileToUploadFolder is true-->
    <add key="SendTorrentToDelugeViaDelugeConsole" value="False" />
    <add key="DelugeIP" value="127.0.0.1" />
    <add key="DelugePort" value="58846" />
    <add key="DelugeUsername" value="admin" />
    <add key="DelugePassword" value="password" />
    <add key="DelugeInstalledFolder" value="C:\Program Files (x86)\Deluge" />
    <add key="CopyTorrentFile" value="False" />
    <add key="CopyTorrentFilePath" value="C:\temp\UploadTorrentFiles" />
    <!--creates this folder if it does not exist-->
    <add key="DeleteTorrentFileAfterEverything" value="False" />
    <add key="UploadTorrentLanguageId" value="0" />
    <!-- Languages - Below are the languages that you can set as the default language when uploading the torrent file
    [Description("Unknown/NA")]
    UnknownNA = 0,
    [Description("English")]
    English = 1,
    [Description("Afrikaans")]
    Afrikaans = 2,
    [Description("Other")]
    Other = 3-->
    <add key="UploadTorrentCategoryId" value="" />
    <!--if the folder of the file that is being uploaded is not named as a below category Description then the category for uploading will be this value-->
    <!--Categories - The below description is what the folder name must be to upload to that category
    [Description("3D Movies SD")]
    ThreeD_Movies_SD = 59,
    [Description("3D Movies SD Old")]
    ThreeD_Movies_SD_Old = 60,
    [Description("3D Movies HD")]
    ThreeD_Movies_HD = 61,
    [Description("3D Movies HD Old")]
    ThreeD_Movies_HD_Old = 62,
    [Description("4K 4K Images")]
    FourK_FourK_Images = 77,
    [Description("4K 4K Other")]
    FourK_FourK_Other = 78,
    [Description("4K 4K KidsCartoon")]
    FourK_FourK_Kids_Cartoon = 80,
    [Description("4K 4K Anime")]
    FourK_FourK_Anime = 81,
    [Description("4K 4K Sport")]
    FourK_FourK_Sport = 82,
    [Description("4K 4K Documentaries")]
    FourK_FourK_Documentaries = 83,
    [Description("4K 4K S.A Movies")]
    FourK_FourK_SA_Movies = 84,
    [Description("4K 4K HD Ultra Movies")]
    FourK_FourK_HD_Ultra_Movies = 85,
    [Description("4K 4K Music Videos")]
    FourK_FourK_Music_Videos = 86,
    [Description("4K 4K Trailers")]
    FourK_FourK_Trailers = 87,
    [Description("4K 4K Apps")]
    FourK_FourK_Apps = 88,
    [Description("4K 4K 3D Ultra Movies")]
    FourK_FourK_ThreeD_Ultra_Movies = 89,
    [Description("4K 4K TV Series")]
    FourK_FourK_TV_Series = 90,
    [Description("Apps Linux")]
    Apps_Linux = 20,
    [Description("Apps Linux")]
    Apps_Mac = 19,
    [Description("Apps PC")]
    Apps_PC = 18,
    [Description("Apps Other")]
    Apps_Other = 21,
    [Description("Games Mac")]
    Games_Mac = 12,
    [Description("Games PC")]
    Games_PC = 10,
    [Description("Games PS")]
    Games_PS = 11,
    [Description("Games Wii")]
    Games_Wii = 44,
    [Description("Games XBox")]
    Games_XBox = 13,
    [Description("Games XBox Kinect")]
    Games_XBox_Kinect = 16,
    [Description("Games Other")]
    Games_Other = 17,
    [Description("Games PSP")]
    Games_PSP = 92,
    [Description("Movies Anime")]
    Movies_Anime = 1,
    [Description("Movies CamTS")]
    Movies_Cam_TS = 22,
    [Description("Movies DVD")]
    Movies_DVD = 2,
    [Description("Movies KidsCartoons")]
    Movies_Kids_Cartoons = 23,
    [Description("Movies HD-Movies")]
    Movies_HD_Movies = 42,
    [Description("Movies SD-Movies")]
    Movies_SD_Movies = 3,
    [Description("Movies Trailers")]
    Movies_Trailers = 72,
    [Description("Movies Other")]
    Movies_Other = 4,
    [Description("Music MP3")]
    Music_MPThree = 24,
    [Description("Music DVD")]
    Music_DVD = 25,
    [Description("Music Video")]
    Music_Video = 26,
    [Description("Music HD VideoAudio")]
    Music_HD_Video_Audio = 27,
    [Description("Old Stuff Movies")]
    Old_Stuff_Movies = 35,
    [Description("Old Stuff Games")]
    Old_Stuff_Games = 36,
    [Description("Old Stuff Apps")]
    Old_Stuff_Apps = 37,
    [Description("Old Stuff Other")]
    Old_Stuff_Other = 38,
    [Description("Old Stuff Music")]
    Old_Stuff_Music = 39,
    [Description("Old Stuff TV")]
    Old_Stuff_TV = 40,
    [Description("Old Stuff Anime")]
    Old_Stuff_Anime = 91,
    [Description("Other E-Books")]
    Other_EBooks = 47,
    [Description("Other Images")]
    Other_Images = 48,
    [Description("Other Mobile Phone")]
    Other_Mobile_Phone = 49,
    [Description("Other Other")]
    Other_Other = 50,
    [Description("Other Clips")]
    Other_Clips = 58,
    [Description("SA Stuff SA Movies")]
    SA_Stuff_SA_Movies = 64,
    [Description("SA Stuff SA Series")]
    SA_Stuff_SA_Series = 65,
    [Description("SA Stuff SA Music")]
    SA_Stuff_SA_Music = 66,
    [Description("SA Stuff SA Music HD")]
    SA_Stuff_SA_Music_HD = 70,
    [Description("SA Stuff SA Other")]
    SA_Stuff_SA_Other = 67,
    [Description("SA Stuff SA Movies HD")]
    SA_Stuff_SA_Movies_HD = 69,
    [Description("TV HD-Series")]
    TV_HD_Series = 41,
    [Description("TV SD-Series")]
    TV_SD_Series = 6,
    [Description("TV HD-Documentaries")]
    TV_HD_Documentaries = 7,
    [Description("TV SD-Documentaries")]
    TV_SD_Documentaries = 5,
    [Description("TV SD-Sports")]
    TV_SD_Sports = 34,
    [Description("TV HD-Sports")]
    TV_HD_Sports = 33,
    [Description("TV Other")]
    TV_Other = 57,
    [Description("TV Anime")]
    TV_Anime = 63,
    [Description("TV KidsCartoons")]
    TV_Kids_Cartoons = 74,
    [Description("TV Stand-Up Comedy")]
    TV_StandUp_Comedy = 73,
    [Description("TV Animation - Mature")]
    TV_Animation_Mature = 68-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>