/TorrentCreatorUploader/bin
/TorrentCreatorUploader/obj
/TorrentCreatorUploaderLogic/bin
/TorrentCreatorUploaderLogic/obj
/TorrentCreatorUploaderService/bin
/TorrentCreatorUploaderService/obj
/TorrentCreatorUploaderService.Setup/bin
/TorrentCreatorUploaderService.Setup/obj
/packages
/.vs
